* {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #fff;
}

button {
	cursor: pointer;
}

.layout {
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 30px;
	padding: 0;
}

.tasks-list {
	padding: 0;
	max-height: 100vh;
	overflow-y: auto;
	
	& > * {//individual task
		animation: appear 0.3s ease-in-out forwards;
		
		@keyframes appear {
			0% {
				opacity: 0;
				transform: scale(0);
			}
			100% {
				opacity: 1;
				transform: scale(1);
			}
		}
		
		position: relative;
		padding: 15px 0;
		&:not(:last-child) {
			border-bottom: 1px solid #0008;
		}
		
		& > .delete-btn, & > .edit-btn {
			position: absolute;
			top: 0;
			&.delete-btn {
				right: 0;
			}
			&.edit-btn {
				left: 0;
			}
			font-size: 9px;
			font-weight: bold;
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
			cursor: pointer;
		}
		
		&:hover > .delete-btn, &:hover > .edit-btn {
			opacity: 1;
		}

		input.task-edit {
			text-align: center;
		}
	}
}