* {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #263238;
	color: #CFD8DC;
}

button {
	outline: none;
	cursor: pointer;
	color: #CFD8DC;
	background-color: #37474F;
	border: 1px solid #546E7A;
	border-radius: 4px;
	padding: 8px;

	box-shadow: 0 2px 4px #0004;

	transition: background-color 0.15s ease-in-out;

	&:hover {
		background-color: #546E7A;
	}
}

input {
	outline: none;
	color: #CFD8DC;
	background: #37474F;
	border: 1px solid #546E7A;
	border-radius: 4px;
	padding: 8px;

	&:focus {
		border-color: #009688;
	}
}

.layout {
	margin: auto;
	display: inline-grid;
	grid-template-columns: auto auto;
	grid-column-gap: 30px;
	padding: 0;
}

h6 {
	color: #90A4AE;
}

.tasks-list {
	padding: 0;
	max-height: 100vh;
	overflow-y: auto;
	
	& > * {//individual task
		animation: appear 0.3s ease-in-out forwards;
		text-align: left;
		
		@keyframes appear {
			0% {
				opacity: 0.4;
				transform: translateY(-50px);
			}
			100% {
				opacity: 1;
				transform: translateY(0px);
			}
		}
		
		position: relative;
		padding: 15px 0;
		&:not(:last-child) {
			border-bottom: 1px solid #37474F;
		}
		
		& > .delete-btn, & > .edit-btn {
			position: absolute;
			top: 0;
			&.delete-btn {
				right: 0;
			}
			&.edit-btn {
				left: 0;
			}
			font-size: 9px;
			font-weight: bold;
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
			cursor: pointer;
		}
		
		&:hover > .delete-btn, &:hover > .edit-btn {
			opacity: 1;
		}

		input.task-edit {
			text-align: center;
		}
	}
}